{
    "env": "DEV",
    "key": "01C7AvNMcS",
    "mysql": {
        "host": "localhost",
        "port": 3306,
        "user": "root",
        "password": "root",
        "database": "polyinf"
    },
    "mongo": {
        "host": "localhost",
        "port": 27017,
        "database": "polyinf"
    }
}
